.page-wrapper {
  padding-top: 70px !important;
}

a {
  color: #eee;
}

.sidebar ul li a:hover {
    background-color: #3284c5;
    color: #eee;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #3284c5;
  color: #eee;
}

.navbar-top-links li a:hover {
  background-color: #3284c5;
  color: #eee;
}
