<%= form_for(@workouts_exercise) do |f| %>
  <% if @workouts_exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workouts_exercise.errors.count, "error") %> prohibited this workouts_exercise from being saved:</h2>

      <ul>
      <% @workouts_exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
