<!-- <div align="center">
<div class="hero">

<div class="about">
<h1>Welcome to Fithub</h1>

<h3>About</h3>
<h4 align="left"> We believe that everyone is able to reach any goal. We also understand that a supportive community is key to success. We've set out to build that community. Where you can share, grow, learn and develop into not only healtier people but better people. This a new way of thinking Fit, Join Us.
</h4><br>
<% if current_user %>
<h4>Signed in as: <%= current_user.name %></h4>
<% else %>

<% end %><br>
</div>
</div>
</div> -->
<div class="container-full hero">

      <div class="row">

        <div class="col-lg-12 text-center v-center">

          <h1 class="lead_title">FitHub </h1>
          <p class="lead">Helping to discover the strongest version of you</p>

          <br>

          <form class="col-lg-12">
            <a href="auth/facebook" class= "btn btn-block">Login With Facebook</a>

          </form>
        </div>

      </div> <!-- /row -->

  	  <div class="row">

        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
        </div>

      </div>

  	<br><br><br><br><br>

</div> <!-- /container full -->

      <div align="center">
      <h2 id="fitblue" align="center">The Team Behind FitHub</h2><br>
      <div class="col-md-4" id="fitbackground">
      <h4>Jeremy Delvalle</h4>
      <img src="http://gravatar.com/avatar/b42041ec5c1981df552d9a8987303fec" class="img-circle">
      <br><br>
      <a href="http://github.com/jmdelvalle"><i class="fa fa-github fa-2x"></i></a>
      <a href="http://www.linkedin.com/in/jeremydelvalle"><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a href="http://twitter.com/jeremymdelvalle"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="http://www.facebook.com/jeremy.delvalle.79"><i class="fa fa-facebook-square fa-2x"></i></a>
      </div>

      <div class="col-md-4" id="fitbackground">
      <h4>Brian Mesa</h4>
      <img src="http://s.gravatar.com/avatar/fdc13978576b8be9a928d7cfe7bc5dfd?s=80" class="img-circle">
      <br><br>
      <a href="https://github.com/Bmesa620"><i class="fa fa-github fa-2x"></i></a>
      <a href="http://www.linkedin.com/pub/brian-mesa/b2/b8a/b5a"><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a href="http://twitter.com/bmes62"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="http://www.facebook.com/brian.mesa.370"><i class="fa fa-facebook-square fa-2x"></i></a>
      </div>

      <div class="col-md-4" id="fitbackground">
      <h4>Henry Paulino</h4>
      <img src="https://en.gravatar.com/userimage/88406672/98a8edd09a03576f3aaafbb0639453c0" class="img-circle">
      <br><br>
      <a href="http://github.com/corasan"><i class="fa fa-github fa-2x"></i></a>
      <a href="http://www.linkedin.com/in/henrypl95"><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a href="http://twitter.com/henrypl95"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="http://www.facebook.com/henrypaulinol"><i class="fa fa-facebook-square fa-2x"></i></a>
      </div>

      </div>
